@import '../palette.scss';


.Container {
	min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ImageHeader {
  max-height: 20vh;
}

.Form {
  background-color: $antique-white;
  padding: 10px;
	margin: 10px;
	border-radius: 2em;
}

.TextFieldInput {
  font-size: 16px;
  padding: 10px;
	border-radius: 2em;
}

.ResultText {
  flex: 1;
  background-color: #E6E6FA;
  font-size: 20px;
	margin: 10px;
	border-radius: 2em;
}

.ImageSmall {
  float: left;
  max-height: 10vh;
}

.Header {
  background-color: $periwinkle;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.SpeechBubble {
	position: relative;
	background: $rosy-brown;
	border-radius: .4em;
	padding: 20px;
	margin: 10px;
}

.SpeechBubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: $rosy-brown;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.SpeechBubbleBody {
	position: relative;
	background: $rosy-brown;
	border-radius: .4em;
	padding: 20px;
	margin: 20px;
  margin-left: 100px;
}

.SpeechBubbleBody:after {
	content: '';
	position: absolute;
	left: 0;
	top: 25%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: $rosy-brown;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.SpeechBubbleQuestions {
	position: relative;
	background: $antique-white;
	border-radius: .4em;
	padding: 20px;
	margin: 20px;
  margin-right: 100px; 
}

.SpeechBubbleQuestions:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: $antique-white;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}