
.ProfilePicture {
	border-radius: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	object-fit: cover;
}

.ProfilePictureContainer {
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: calc(8px + 1vmin);
}

